<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <a class="brand" href="#">
        <i class="fas fa-hotdog fa-3x"></i>
      </a>
      <ul class="nav-items">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Screenshot</a>
        </li>
        <li class="nav-item dropdown-toggle">
          <a class="nav-link" href="#">
            News
            <i class="fas fa-sort-down"></i>
          </a>
          <ul class="dropdown">
            <li class="dropdown-item">
              <a class="dropdown-link" href="#">News One</a>
            </li>
            <li class="dropdown-item">
              <a class="dropdown-link" href="#">News Two</a>
            </li>
            <li class="dropdown-item">
              <a class="dropdown-link" href="#">News Three</a>
            </li>
            <li class="dropdown-item">
              <a class="dropdown-link" href="#">News Four</a>
            </li>
            <li class="dropdown-item">
              <a class="dropdown-link" href="#">News Five</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="btn-primary">
      <i class="fas fa-cog fa-3x"></i>
    </button>

    <div class="container">
      <div class="row">
        <div class="poster col">
          <i class="fas fa-magic fa-3x logo"></i>
          <h3>Creative Design</h3>
          <p>
            Proactively syndicate open source e-markets after low-risk
            high-yield synergy
          </p>
        </div>
        <div class="poster col">
          <i class="fas fa-rocket fa-3x logo"></i>
          <h3>Free Support</h3>
          <p>
            Proactively syndicate open source e-markets after low-risk
            high-yield synergy
          </p>
        </div>
        <div class="poster col">
          <i class="fas fa-gem fa-3x logo"></i>
          <h3>Exclusive Design</h3>
          <p>
            Proactively syndicate open source e-markets after low-risk
            high-yield synergy
          </p>
        </div>
      </div>
    </div>

    <div class="row background-gray clearfix">
      <div class="phonebox">
        <img
          class="phone-img"
          src="../images/mobile-2.png"
          alt="mobile-white"
        />
      </div>

      <div class="checker-textbox">
        <div class="margin-right-10">
          <h1 class="margin-bottom-0">Make Business Easy With Us</h1>
          <small>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ut
            fugit alias distinctio, vero harum porro hic architecto blanditiis
            amet minima eveniet fuga consequatur aliquid expedita saepe culpa
            nam mollitia.
          </small>
        </div>

        <div>
          <div class="item">
            <i
              class="fas fa-rocket fa-2x logo display-block text-primary-color"
            ></i>
            <small>
              Intrinsically aggregate cutting-edge internal or "organic" through
              pandemic
            </small>
          </div>
          <div class="item">
            <i
              class="fas fa-rocket fa-2x logo display-block text-primary-color"
            ></i>
            <small>
              It doesn't matter if you're in an office or on an airplane, you'll
              never lose a second
            </small>
          </div>
          <div class="item">
            <i
              class="fas fa-rocket fa-2x logo display-block text-primary-color"
            ></i>
            <small>
              It doesn't matter if you're in an office or on an airplane, you'll
              never lose a second
            </small>
          </div>
          <div class="item">
            <i
              class="fas fa-rocket fa-2x logo display-block text-primary-color"
            ></i>
            <small>
              Intrinsically aggregate cutting-edge internal or "organic" through
              pandemic
            </small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
