.navbar {
  background-color: $primary-color;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 2;
  box-shadow: 0 2px 5px #424242;

  &__brand {
    padding: 15px;
    color: #ffffff;
    display: inline-block;
  }

  &__items {
    float: right;
    cursor: pointer;
  }

  &__item {
    display: inline-block;

    &::after {
      content: "";
      border-bottom: 5px solid transparent;
      transform: scaleX(0);
      display: block;
    }

    &:not(.dropdown-toggle):hover {
      &::after {
        border-bottom: 5px solid #ffffff;
        transition: all 0.5s ease;
        transform: scaleX(1);
      }
    }
  }

  &__link {
    padding: 20px;
    color: #ffffff;
    display: block;
  }
}
